<div class="form-container" style="background-size: cover; background-position: center; align-items: center; height: 90vh; background-color: transparent; padding-top: 50px;">
  <h2 style="background-color: transparent; color: black; font-size: 2em;"><strong>Forgot your password?</strong></h2>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <strong><%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" },
                label_html: { style: "font-weight: bold;" } %></strong>
    </div>

    <div class="form-actions" style="text-align: center;">
      <%= f.button :submit, "Send me reset password instructions", class: "btn-flat" %>
    </div>
  <% end %>

</div>

<style>
  body {
    background-image: url('<%= image_path('pokeball.jpeg') %>');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-top: 20px; /* Optional: Add some padding from the top */
  }
</style>
