<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_with url: decks_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Find a deck" %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <div class="row justify-content-center">
    <% @decks.each do |deck| %>
      <div class="col-sm-4 my-3">
        <div class="card h-100" style="width: 18rem;">
          <%= link_to deck_path(deck) do %>
            <%= cl_image_tag deck.photo.key, class: "card-img-top" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= deck.title %></h5>
            <p class="card-text"><%= deck.description %></p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">Created by: <%= deck.user.username %></small>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
