
<div class="container">
  <div>
  <h1>Rent a deck</h1>
  <h2><%= @deck.title %></h2>

  <div class="row">

    <div class="col-6">
      <img src="" alt="">
    </div>
    <% if current_user %>
    <div class="col-6">
      <%= simple_form_for [@deck, @booking] do |f| %>
      <div data-controller = "datepicker" >
        <%= f.input :date_of_beginning, label: "From", as: :string, input_html: { data: { datepicker_target: "start" } } %>
        <%= f.input :date_of_end, labet: "To", as: :hidden, input_html: { data: { datepicker_target: "end" } } %>
        <%= f.submit "Book now", class:"p-submit"%>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
  <div>
  </div>
    <h2>Decks cards</h2>
      <ul>
        <% @deck.cards.each do |card| %>
          <li><%= cl_image_tag card.photo.key %></li>
        <% end %>
      </ul>

      <%#
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Pokémon</h5>
          </div>
        </div>
      %>

  </div>
</div>
