
<div class="container">

    <div class="row p-3 no-gutter form-container">

      <div class="col-6 d-flex justify-content-center">
        <div><%= cl_image_tag @deck.photo.key, class: "img-fluid" %></div>
      </div>

      <div class="col-6">

          <div class="col-12">

            <div class="col-12">
                <h2 class="deck-title"><%= @deck.title %></h2>
            </div>

            <div class="row d-flex gap-2">
              <p class="col-4 tag-owner">Owner : <%= @deck.user.username %></p>
              <p class="col-4 tag-owner">Price per day : <%= @deck.price %>€<p>
            </div>

            <div class="col-4">
            </div>

            <div>
              <p><%= @deck.description %></p>
            </div>

            <div class="align-self-end">

              <% if current_user %>
              <%= simple_form_for [@deck, @booking] do |f| %>
              <div data-controller = "datepicker">
                <div class="row">
                  <div class="col-6">
                    <div class="mt-4">
                          <%= f.input :date_of_beginning, label: "From", as: :string, input_html: { data: { datepicker_target: "start" } } %>
                          <%= f.input :date_of_end, as: :hidden, input_html: { data: { datepicker_target: "end" } } %>
                    </div>
                  </div>
                          <div class="col-6 d-flex align-items-bottom">
                          <div class="row pt-5">
                            <div class="pt-2">
                              <h6 class="price">Total : <span class="">30 €</span></h6>
                            </div>
                          </div>
                          </div>
                </div>
              </div>


              <div class="col-6 d-flex align-items-center">
                <div class="col-12 d-flex align-item-baseline pt-3">
                  <%= f.submit "Book now", class:"p-submit col-12 btn-flat"%>
                </div>
              </div>

            </div>

          <% end %>
          </div>
      <% end %>
    </div>


  </div>
</div>
