<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @decks.each do |deck| %>
      <div class="col">
        <div class="card h-100" style="width: 18rem;">
          <%= link_to deck_path(deck) do %>
            <%= cl_image_tag deck.photo.key, class: "card-img-top" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= deck.title %></h5>
            <p class="card-text"><%= deck.description %></p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">Created by: <%= deck.user.username %></small>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="mt-3">
    <%= link_to "Back", root_path, class: "btn btn-primary" %>
  </div>
</div>
